.sidebarChat {
  display: flex;

  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}
.sidebarChat:hover {
  background-color: #ebebeb;
}
.addNewChat {
  color: rgb(16, 163, 16);
  justify-content: left;
  align-items: center;
  gap: 20px;
}
.sidebarChat_info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}
.sidebarChat_info > p {
  color: gray;
}
.sidebarChat_info {
  overflow: hidden;
  margin-left: 15px;
}
a {
  text-decoration: none !important;
  color: black;
}
